{% extends 'recipes/base.html' %}


{% block content %}

<div class="container">
    <h1 class="text-center"><a href="{% url 'home' %}">{{ title }}</a></h1>
    <div class="row justify-content-center pt-5 pb-5">
        <div class="col-md-8">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-{{ btn_color }}">{{ btn_text }}</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}